In [1]:
import pandas as pd

<h1>ETL</h1>

<h3>Tabla "victimas"</h3>

In [2]:
# Cargamos la tabla:
victimas_df = pd.read_excel(r"../Datasets/homicidios.xlsx", sheet_name="VICTIMAS")
victimas_df.head(3)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00

In [3]:
# Revisamos sus columnas
victimas_df.dtypes

ID_hecho                       object
FECHA                  datetime64[ns]
AAAA                            int64
MM                              int64
DD                              int64
ROL                            object
VICTIMA                        object
SEXO                           object
EDAD                           object
FECHA_FALLECIMIENTO            object
dtype: object

In [4]:
# Eliminamos la columna que no utilizaremos:
victimas_df = victimas_df.drop(["FECHA_FALLECIMIENTO"], axis=1)
victimas_df.dtypes

ID_hecho            object
FECHA       datetime64[ns]
AAAA                 int64
MM                   int64
DD                   int64
ROL                 object
VICTIMA             object
SEXO                object
EDAD                object
dtype: object

In [5]:
# Revisamos registros duplicados:
victimas_df.duplicated().any()

False

In [6]:
# Revisamos valores nulos:
victimas_df.isna().sum()

ID_hecho    0
FECHA       0
AAAA        0
MM          0
DD          0
ROL         0
VICTIMA     0
SEXO        0
EDAD        0
dtype: int64

In [7]:
# Revisamos los a√±os presentes en el DataFrame:
victimas_df["AAAA"].unique()

array([2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [8]:
# Convertimos la columna "EDAD" en tipo "Int64":
victimas_df["EDAD"] = victimas_df["EDAD"].apply(pd.to_numeric, errors="coerce", downcast="integer").astype("Int64")
victimas_df["EDAD"].dtypes

Int64Dtype()

In [9]:
# Guardamos el archivo limpio:
victimas_df.to_csv(r"../Archivos producidos/victimas_homicidios.csv", index=False)