In [3]:
import pandas as pd

<h3>Fusionamos los archivos "hechos_homicidios.csv" y "victimas_homicidios.csv":</h3>

In [4]:
# Cargamos el archivo de hechos:
hechos_df = pd.read_csv(r"../Archivos producidos/hechos_homicidios.csv")
hechos_df.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Cruce,pos x,pos y,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,4.0,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",-58.475340,-34.687570,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,1.0,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",DE LOS CORRALES AV.,-58.508775,-34.669777,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,7.0,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,NaN,-58.390403,-34.631894,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,0.0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,"VILLEGAS, CONRADO, GRAL.",-58.465039,-34.680930,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,5.0,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,"SAENZ PE?A, LUIS, PRES.",-58.387183,-34.622466,MOTO,PASAJEROS

In [5]:
# Cargamos el archivo de víctimas:
victimas_df = pd.read_csv(r"../Archivos producidos/victimas_homicidios.csv")
victimas_df.head()

    ID_hecho       FECHA  AAAA  MM  DD        ROL VICTIMA       SEXO  EDAD
0  2016-0001  2016-01-01  2016   1   1  CONDUCTOR    MOTO  MASCULINO  19.0
1  2016-0002  2016-01-02  2016   1   2  CONDUCTOR    AUTO  MASCULINO  70.0
2  2016-0003  2016-01-03  2016   1   3  CONDUCTOR    MOTO  MASCULINO  30.0
3  2016-0004  2016-01-10  2016   1  10  CONDUCTOR    MOTO  MASCULINO  18.0
4  2016-0005  2016-01-21  2016   1  21  CONDUCTOR    MOTO  MASCULINO  29.0

In [6]:
# Unimos las columnas a utilizar de ámbos dataframes:
homicidios_df = pd.merge(hechos_df, victimas_df[["ID_hecho", "ROL", "SEXO", "EDAD"]], left_on="ID", right_on="ID_hecho", how="inner").drop("ID_hecho", axis=1)
homicidios_df.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Cruce,pos x,pos y,VICTIMA,ACUSADO,ROL,SEXO,EDAD
0,2016-0001,1,2016-01-01,2016,1,1,4.0,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",-58.475340,-34.687570,MOTO,AUTO,CONDUCTOR,MASCULINO,19.0
1,2016-0002,1,2016-01-02,2016,1,2,1.0,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",DE LOS CORRALES AV.,-58.508775,-34.669777,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,70.0
2,2016-0003,1,2016-01-03,2016,1,3,7.0,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,NaN,-58.390403,-34.631894,MOTO,AUTO,CONDUCTOR,MASCULINO,30.0
3,2016-0004,1,2016-01-10,2016,1,10,0.0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,"VILLEGAS, CONRADO, GRAL.",-58.465039,-34.680930,MOTO,SD,CONDUCTOR,MASCULINO,18.0
4,2016-0005,1,2016-01-21,2016,1,21,5.0,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,"SAENZ PE?A, LUIS, PRES.",-58.387183,-34.622466,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,29.0

In [7]:
# Renombramos las columnas:
homicidios_df["ROL_VICTIMA"] = homicidios_df["ROL"]
homicidios_df["SEXO_VICTIMA"] = homicidios_df["SEXO"]
homicidios_df["EDAD_VICTIMA"] = homicidios_df["EDAD"]
homicidios_df["CALLE"] = homicidios_df["Calle"]
homicidios_df["CRUCE"] = homicidios_df["Cruce"]
homicidios_df["LATITUD"] = homicidios_df["pos x"]
homicidios_df["LONGITUD"] = homicidios_df["pos y"]

homicidios_df.drop(["ROL", "SEXO", "EDAD", "Calle", "Cruce", "pos x", "pos y"], axis=1, inplace=True)

homicidios_df.head(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,VICTIMA,ACUSADO,ROL_VICTIMA,SEXO_VICTIMA,EDAD_VICTIMA,CALLE,CRUCE,LATITUD,LONGITUD
0,2016-0001,1,2016-01-01,2016,1,1,4.0,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,MOTO,AUTO,CONDUCTOR,MASCULINO,19.0,PIEDRA BUENA AV.,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",-58.475340,-34.687570
1,2016-0002,1,2016-01-02,2016,1,2,1.0,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,70.0,"PAZ, GRAL. AV.",DE LOS CORRALES AV.,-58.508775,-34.669777
2,2016-0003,1,2016-01-03,2016,1,3,7.0,AV ENTRE RIOS 2034,AVENIDA,MOTO,AUTO,CONDUCTOR,MASCULINO,30.0,ENTRE RIOS AV.,NaN,-58.390403,-34.631894

In [8]:
# Revisamos las columnas y sus tipos de dato:
homicidios_df.dtypes

ID                  object
N_VICTIMAS           int64
FECHA               object
AAAA                 int64
MM                   int64
DD                   int64
HH                 float64
LUGAR_DEL_HECHO     object
TIPO_DE_CALLE       object
VICTIMA             object
ACUSADO             object
ROL_VICTIMA         object
SEXO_VICTIMA        object
EDAD_VICTIMA       float64
CALLE               object
CRUCE               object
LATITUD            float64
LONGITUD           float64
dtype: object

In [9]:
# Corregimos los tipos de dato de las columnas "FECHA", "EDAD_VICTIMA" y "HH":
homicidios_df["FECHA"] = pd.to_datetime(homicidios_df["FECHA"])
homicidios_df["EDAD_VICTIMA"] = homicidios_df["EDAD_VICTIMA"].astype("Int64")
homicidios_df["HH"] = homicidios_df["HH"].astype("Int64")

print(homicidios_df["FECHA"].dtype)
print(homicidios_df["EDAD_VICTIMA"].dtype)
print(homicidios_df["HH"].dtype)

datetime64[ns]
Int64
Int64

In [10]:
# Creamos una nueva columna llamada "DIA_SEMANA" que posee el día de la semana en que ocurrió el accidente:
homicidios_df["DIA_SEMANA"] = homicidios_df["FECHA"].dt.day_name()
homicidios_df["DIA_SEMANA"].head()

0      Friday
1    Saturday
2      Sunday
3      Sunday
4    Thursday
Name: DIA_SEMANA, dtype: object

In [12]:
# Visualizamos el DataFrame terminado:
homicidios_df.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,VICTIMA,ACUSADO,ROL_VICTIMA,SEXO_VICTIMA,EDAD_VICTIMA,CALLE,CRUCE,LATITUD,LONGITUD,DIA_SEMANA
0,2016-0001,1,2016-01-01,2016,1,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,MOTO,AUTO,CONDUCTOR,MASCULINO,19,PIEDRA BUENA AV.,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",-58.475340,-34.687570,Friday
1,2016-0002,1,2016-01-02,2016,1,2,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,70,"PAZ, GRAL. AV.",DE LOS CORRALES AV.,-58.508775,-34.669777,Saturday
2,2016-0003,1,2016-01-03,2016,1,3,7,AV ENTRE RIOS 2034,AVENIDA,MOTO,AUTO,CONDUCTOR,MASCULINO,30,ENTRE RIOS AV.,NaN,-58.390403,-34.631894,Sunday
3,2016-0004,1,2016-01-10,2016,1,10,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,MOTO,SD,CONDUCTOR,MASCULINO,18,LARRAZABAL AV.,"VILLEGAS, CONRADO, GRAL.",-58.465039,-34.680930,Sunday
4,2016-0005,1,2016-01-21,2016,1,21,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,29,SAN JUAN AV.,"SAENZ PE?A, LUIS, PRES.",-58.387183,-34.622466,Thursday

In [10]:
# Guardamos el archivo:
homicidios_df.to_csv(r"../Archivos producidos/homicidios_fusion.csv", index=False)